<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Soccer BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/transitions.css">
	<link rel="stylesheet" href="css/prettyPhoto.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/customScrollbar.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/color.css">
	<link rel="stylesheet" href="css/responsive.css">
	<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Mobile Menu Start
		*************************************-->
		<div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
			<span id="tg-close" class="tg-close fa fa-close"></span>
			<div class="tg-colhalf">
                <ul>
                    <li>
                        <a href="#">Main</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="index-2.html">home1</a></li>
                            <li><a href="index2.html">home2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">team</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="playergrid-v1.html">playergrid-v1</a></li>
                            <li><a href="playergrid-v2.html">playergrid-v2</a></li>
                            <li><a href="playerdetail.html">playergrid detail</a></li>
                        </ul>
                    </li>
                    <li><a href="buyticket.html">Buy Tickets</a></li>
                    <li class="active">
                        <a href="#">Match Results</a>
                        <ul class="tg-dropdown-menu">
                            <li class="active"><a href="matchresult.html">match result</a></li>
                            <li><a href="matchresultdetail.html">match result detail</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tg-colhalf">
                <ul>
                    <li>
                        <a href="#">fixtures</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="fixtures.html">fixtures</a></li>
                            <li><a href="fixturedetail.html">fixture detail</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">pro soccer media</a>
                        <ul class="tg-dropdown-menu">
                            <li><a href="soccermedia-1.html">pro soccer media1</a></li>
                            <li><a href="soccermedia-2.html">pro soccer media2</a></li>
                        </ul>
                    </li>
                    <li><a href="contactus.html">Contact</a></li>
                    <li>
                        <a href="#"><i class=" fa fa-navicon"></i></a>
                        <ul>
                            <li><a href="aboutus.html">about us</a></li>
                            <li><a href="shoplist.html">shop list</a></li>
                            <li><a href="shopgrid.html">shop grid</a></li>
                            <li><a href="productsingle.html">shop detail</a></li>
                            <li><a href="bloglist.html">blog list</a></li>
                            <li><a href="bloggrid.html">blog grid</a></li>
                            <li><a href="blogdetail.html">blog detail</a></li>
                            <li><a href="404.html">404 error</a></li>
                            <li><a href="comming-soon.html">comming soon</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
		</div>
		<!--************************************
				Mobile Menu End
		*************************************-->
		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="row">
						<div class="tg-topbar tg-haslayout">
							<nav id="tg-topaddnav" class="tg-topaddnav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
										<i class="fa fa-arrow-right"></i>
									</button>
								</div>
								
							</nav>
						</div>
						<nav id="tg-nav" class="tg-nav brand-center">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
									<i class="fa fa-bars"></i>
								</button>
								<strong class="tg-logo">
									<a href="index-2.html"><img src="images/logo2.png" alt="image description"></a>
								</strong>
							</div>
							<div id="tg-navigation" class="tg-navigation">
								<div class="tg-colhalf">
                                    <ul>
                                        <li class="active">
											<a href="index-2.html">home</a>
                                        </li>
                                        <li>
											<a href="playergrid-v1.html">TEAM</a>
                                           
										</li>
										<li>
											<a href="standing.html">STanding</a>
                                           
                                        </li>
                                         
                                </div>
                                <div class="tg-colhalf">
                                    <ul>
                                        <li>
                                            <a href="fixtures.html">fixtures</a>
                                            
											<li>
												<a href="matchresult.html">match result</a>
											</li>
										</ul>
                                        </li>
                                    </ul>
                                </div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Banner Start
		*************************************-->
		<div class="tg-banner tg-haslayout">
			<div class="tg-imglayer">
				<img src="images/bg-pattran.png" alt="image desctription">
			</div>
			<div class="container">
				<div class="row">
					<div class="tg-banner-content tg-haslayout">
						<div class="tg-pagetitle">
							<h1>match result</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">Match Result</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->


			


		
		
		<main id="tg-main" class="tg-main tg-haslayout">
			<section class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="tg-section-name">
						<h2>match result</h2>
					</div>
					<div class="col-sm-11 col-xs-11 pull-right">
						<div class="row">
							<div class="tab-content tg-tabscontent">
								<div role="tabpanel" class="tab-pane fade in active" id="one">
									<div class="tg-matchresult">
										<div class="tg-box">
											<div class="tg-score"><h3>2 - 1</h3></div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<!-- <a href="#"><img src="images/team-logo/logqo-01.png" alt="BE CO"></a> -->
													<h1 style="color:#ffcc33;">BE CO</h1>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">BE CO ( Win )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Mohammed Rizwan (15)</li>
													<li>Azam Ali (89)</li>
												</ul>
											</div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<a href="#">
														<!-- <img src="images/team-logo/logo-02.png" alt="image description"> -->
														<h1 style="color:#373542;;">BE EE</h1>
													</a>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">BE EE( lose )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Salman (22)</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="two">
									<div class="tg-matchresult">
										<div class="tg-box">
											<div class="tg-score"><h3>2 - 3</h3></div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<!-- <a href="#"><img src="images/team-logo/logqo-01.png" alt="BE CO"></a> -->
													<h1 style="color:#ffcc33;">FE PH</h1>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">FE PH ( Lose )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Mohammed Rizwan (15)</li>
													<li>Azam Ali (49)</li>
												</ul>
											</div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<a href="#">
														<!-- <img src="images/team-logo/logo-02.png" alt="image description"> -->
														<h1 style="color:#373542;;">BE AR</h1>
													</a>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">BE AR ( Win )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Salman (22)</li>
													<li>Ali (89)</li>
													<li>Azam (79)</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="three">
									<div class="tg-matchresult">
										<div class="tg-box">
											<div class="tg-score"><h3>3 - 1</h3></div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<!-- <a href="#"><img src="images/team-logo/logqo-01.png" alt="BE CO"></a> -->
													<h1 style="color:#ffcc33;">TE ME</h1>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">TE ME ( Win )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Mohammed Rizwan (15)</li>
													<li>Azam Ali (89)</li>
													<li>Shoaib Chaudhary (89)</li>

												</ul>
											</div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<a href="#">
														<!-- <img src="images/team-logo/logo-02.png" alt="image description"> -->
														<h1 style="color:#373542;;">SE CE</h1>
													</a>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">SE CE( lose )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Salman (22)</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="four">
									<div class="tg-matchresult">
										<div class="tg-box">
											<div class="tg-score"><h3>2 - 1</h3></div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<!-- <a href="#"><img src="images/team-logo/logqo-01.png" alt="BE CO"></a> -->
													<h1 style="color:#ffcc33;">TE CO</h1>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">TE CO ( Win )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Mohammed Rizwan (15)</li>
													<li>Azam Ali (89)</li>
												</ul>
											</div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<a href="#">
														<!-- <img src="images/team-logo/logo-02.png" alt="image description"> -->
														<h1 style="color:#373542;;">TE CE</h1>
													</a>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">TE CE ( lose )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Salman (22)</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="five">
									<div class="tg-matchresult">
										<div class="tg-box">
											<div class="tg-score"><h3>2 - 1</h3></div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<!-- <a href="#"><img src="images/team-logo/logqo-01.png" alt="BE CO"></a> -->
													<h1 style="color:#ffcc33;">FE EXTC</h1>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">FE EXTC ( Win )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Mohammed Rizwan (15)</li>
													<li>Azam Ali (89)</li>
												</ul>
											</div>
											<div class="tg-teamscore">
												<strong class="tg-team-logo">
													<a href="#">
														<!-- <img src="images/team-logo/logo-02.png" alt="image description"> -->
														<h1 style="color:#373542;;">BE EE</h1>
													</a>
												</strong>
												<div class="tg-team-nameplusstatus">
													<h4><a href="#">BE CE ( lose )</a></h4>
												</div>
												<ul class="tg-playernameplusgoadtime">
													<li>Salman (22)</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<ul class="tg-tickets tg-tabnav" role="tablist">
								<li role="presentation" class="active">
									<a href="#one" aria-controls="one" role="tab" data-toggle="tab">
										<div class="tg-ticket">
											<time class="tg-matchdate" datetime="2016-05-03">27<span>june</span></time>
											<div class="tg-matchdetail">
												<span class="tg-theme-tag">Bonhomie Premier League</span>
												<h4>BE Computers <span>vs</span> BE Electricals </h4>
												<ul class="tg-matchmetadata">
													<li><time datetime="2020-01-31">15:30 PM</time></li>
													<li><address>Diploma Courtyard</address></li>
												</ul>
											</div>
											<div class="tg-btnsbox">
												<span class="tg-btn">view result</span>
											</div>
										</div>
									</a>
								</li>
								<li role="presentation">
									<a href="#two" aria-controls="two" role="tab" data-toggle="tab">
										<div class="tg-ticket">
											<time class="tg-matchdate" datetime="2016-05-03">27<span>june</span></time>
											<div class="tg-matchdetail">
												<span class="tg-theme-tag">Bonhomie Premier League</span>
												<h4>FE Pharmacy <span>vs</span> BE Archeticture </h4>
												<ul class="tg-matchmetadata">
													<li><time datetime="2020-01-31">1:30 PM</time></li>
													<li><address>Diploma Courtyard</address></li>
												</ul>
											</div>
											<div class="tg-btnsbox">
												<span class="tg-btn">view result</span>
											</div>
										</div>
									</a>
								</li>
								<li role="presentation">
									<a href="#three" aria-controls="three" role="tab" data-toggle="tab">
										<div class="tg-ticket">
											<time class="tg-matchdate" datetime="2016-05-03">27<span>june</span></time>
											<div class="tg-matchdetail">
												<span class="tg-theme-tag">Bonhomie Premier League</span>
												<h4>TE Mechanicals <span>vs</span> SE Civils </h4>
												<ul class="tg-matchmetadata">
													<li><time datetime="2020-01-31">14:30 PM</time></li>
													<li><address>Diploma Courtyard</address></li>
												</ul>
											</div>
											<div class="tg-btnsbox">
												<span class="tg-btn">view result</span>
											</div>
										</div>
									</a>
								</li>
								<li role="presentation">
									<a href="#four" aria-controls="four" role="tab" data-toggle="tab">
										<div class="tg-ticket">
											<time class="tg-matchdate" datetime="2016-05-03">27<span>june</span></time>
											<div class="tg-matchdetail">
												<span class="tg-theme-tag">Bonhomie Premier League</span>
												<h4>TE Computers <span>vs</span> TE Civils </h4>
												<ul class="tg-matchmetadata">
													<li><time datetime="2020-01-31">15:30 PM</time></li>
													<li><address>Diploma Courtyard</address></li>
												</ul>
											</div>
											<div class="tg-btnsbox">
												<span class="tg-btn">view result</span>
											</div>
										</div>
									</a>
								</li>
								<li role="presentation">
									<a href="#five" aria-controls="five" role="tab" data-toggle="tab">
										<div class="tg-ticket">
											<time class="tg-matchdate" datetime="2016-05-03">27<span>june</span></time>
											<div class="tg-matchdetail">
												<span class="tg-theme-tag">Bonhomie Premier League</span>
												<h4>FE Electronics <span>vs</span> BE Civils </h4>
												<ul class="tg-matchmetadata">
													<li><time datetime="2020-02-02">10:30 AM</time></li>
													<li><address>Diploma Courtyard</address></li>
												</ul>
											</div>
											<div class="tg-btnsbox">
												<span class="tg-btn">view result</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-haslayout tg-footerinfobox">
				<div class="tg-bgboxone"></div>
				<div class="tg-bgboxtwo"></div>
				<div class="tg-footerinfo">
					<div class="container">
						<div class="row">
						
							<div class="">
								<div class="tg-footercol">
									<div class="tg-haslayout">
										<strong class="tg-logo">
											<a href="#">
												<img src="images/logo2.png" alt="image description">
											</a>
										</strong>
									</div>
									<div class="tg-description">
									</div>
									<ul class="tg-contactinfo">
										<li>
											<i class="fa fa-home"></i>
											<address>Plot No. 2 & 3, Sector - 16, Near Thana Naka, Khandagao, New Panvel, Navi Mumbai, Maharashtra 410206</address>
										</li>
										<li>
											<i class="fa fa-envelope-o"></i>
											<a href="info%40aiktc.html">info@aiktc.com</a>
										</li>
										<li>
											<i class="fa fa-phone"></i>
											<span>+44 123 456 788 - 9</span>
										</li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</footer>
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<!--************************************
			Search Start
	*************************************-->
	<div class="tg-searchbox">
		<a id="tg-close-search" class="tg-close-search" href="javascript:void(0)"><span class="fa fa-close"></span></a>
		<div class="tg-searcharea">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<form class="tg-form-search">
							<fieldset>
								<input type="search" class="form-control" placeholder="keyword">
								<i class="icon-icon_search2"></i>
							</fieldset>
						</form>
						<p>Start typing and press Enter to search</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--************************************
			Search End
	*************************************-->
	<!--************************************
		LightBoxes Start
	*************************************-->
	<div class="tg-modalbox modal fade" id="tg-login" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="tg-modal-content">
				<div class="tg-formarea">
					<div class="tg-border-heading">
						<h3>Login</h3>
					</div>
					<form class="tg-loginform" method="post">
						<fieldset>
							<div class="form-group">
								<input type="text" name="userName/email" class="form-control" placeholder="username/email">
							</div>
							<div class="form-group">
								<input type="password" name="password" class="form-control" placeholder="password">
							</div>
							<div class="form-group">
								<label>
									<input type="checkbox" value="rememberme" class="checkbox">
									<em>Remember Me</em>
								</label>
								<a href="#">
									<em>Forgot Password</em>
									<i class="fa fa-question-circle"></i>
								</a>
							</div>
							<div class="form-group">
								<button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
							</div>
							<div class="tg-description">
								<p>Don't have an account? <a href="#">Signup</a></p>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="tg-logintype">
					<div class="tg-border-heading">
						<h3>Login with</h3>
					</div>
					<ul>
						<li class="tg-facebook"><a href="#">facebook</a></li>
						<li class="tg-twitter"><a href="#">twitter</a></li>
						<li class="tg-googleplus"><a href="#">google+</a></li>
						<li class="tg-linkedin"><a href="#">linkedin</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="tg-modalbox modal fade" id="tg-register" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="tg-modal-content">
				<div class="tg-formarea">
					<div class="tg-border-heading">
						<h3>Signup</h3>
					</div>
					<form class="tg-loginform" method="post">
						<fieldset>
							<div class="form-group">
								<input type="text" name="userName" class="form-control" placeholder="username">
							</div>
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="email">
							</div>
							<div class="form-group">
								<div class="tg-note">
									<i class="fa fa-exclamation-circle"></i>
									<span>We will email you your password.</span>
								</div>
							</div>
							<div class="form-group">
								<button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
							</div>
							<div class="tg-description">
								<p>Already have an account? <a href="#">Login</a></p>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="tg-logintype">
					<div class="tg-border-heading">
						<h3>Signup with</h3>
					</div>
					<ul>
						<li class="tg-facebook"><a href="#">facebook</a></li>
						<li class="tg-twitter"><a href="#">twitter</a></li>
						<li class="tg-googleplus"><a href="#">google+</a></li>
						<li class="tg-linkedin"><a href="#">linkedin</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--************************************
		LightBoxes End
	*************************************-->
	<script src="js/vendor/jquery-library.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/customScrollbar.min.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/isotope.pkgd.js"></script>
	<script src="js/prettyPhoto.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/countTo.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/main.js"></script>
</body>

</html>